# Gradle
.gradle
**/build/
**/out/
**/bin/

# IDE / tooling
.idea/
*.iml
.kotlin

# Environment / secrets
.env
.env.*
config.local.yaml

# Logs
logs/
**/*.log

# Binaries / archives
*.class
*.jar
*.war
*.ear

# Backup/temporary
*.kts~
